MOUNT_SQL=./data/sql
MOUNT_LOG=./data/log
MOUNT_DATA=./data/data
MOUNT_ASSETS=./data/assets
MOUNT_ES=./data/es
NGINX_LOGS_MOUNT=./data/nginx

# This is the frontend port, aka the part that will be exposed
NGINX_PORT=9000

# Use `openssl rand -base64 32` and paste the output here
SECRET_TOKEN=
SECRET_KEY=

# Skips cloudflare IP check, useful for offline uploads
SKIP_CLOUDFLARE_CHECK=
